<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/categorias/eletronicos.css') }}">
    <title>Eletrônicos</title>
</head>
<body>
    <nav id="nav">
        <ul>
            <li>
                <div id="nav-item">
                <a href="/"><img id="logo" src="{{ url_for('static', filename='img/logo.png') }}"></a>
                </div>
            </li>

            <li>
                <div id="search-container">
                    <form>
                        <input type="text" placeholder="Digite aqui...">
                        <button type="submit"><img src="{{ url_for('static', filename='img/search-icon.png') }}" id="searchimg"></button>
                    </form>
                </div>
            </li>

            <li>
                <div id="nav-item">
                    Como vender
                </div>
            </li>

            <li>
                <div id="nav-item">
                    Fale conosco
                </div>
            </li>

            <li>
                <div id="nav-item">
                    <div id="img-nav">
                        <a href="login"><img src="{{ url_for('static', filename='img/icons-img/profile-icon.png') }}"></a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <div id="nav-categorias">
        <ul>
            <li>Categorias</li>
            <a href="imoveis"><li><img src="{{ url_for('static', filename='img/img-nav/house-icon.png') }}"></li></a>
            <a href="veiculos"><li><img src="{{ url_for('static', filename='img/img-nav/car-icon.png') }}"></li></a>
            <a href="eletronicos"><li><img src="{{ url_for('static', filename='img/img-nav/screen-icon.png') }}"></li></a>
            <li><img src="{{ url_for('static', filename='img/img-nav/houseitems-icon.png') }}"></li>
            <li><img src="{{ url_for('static', filename='img/img-nav/office-icon.png') }}"></li>
            <li><img src="{{ url_for('static', filename='img/img-nav/machine-icon.png') }}"></li>
            <li><img src="{{ url_for('static', filename='img/img-nav/decoration-icon.png') }}"></li>
        </ul>
    </div>

    <br><br>

    <div id="header">
        <img src="{{ url_for('static', filename='img/banners/banner-eletronicos.png') }}">
    </div>

    <div id="secaotitulo">
        <h2>Categorias</h2><br>
        <hr>
    </div>

    <div id="categorias">
        <div id="item-cat">
            <img src="{{ url_for('static', filename='img/eletronicos-img/cat1.jpg') }}"><br>
            <div id="texto-cat">Computadores</div>
        </div>

        <div id="item-cat">
            <img src="{{ url_for('static', filename='img/eletronicos-img/cat2.jpeg') }}"><br>
            <div id="texto-cat">Smartphones</div>
        </div>

        <div id="item-cat">
            <img src="{{ url_for('static', filename='img/eletronicos-img/cat3.jpg') }}"><br>
            <div id="texto-cat">Videogames</div>
        </div>

        <div id="item-cat">
            <img src="{{ url_for('static', filename='img/eletronicos-img/cat4.jpeg')}}"><br>
            <div id="texto-cat">Componentes eletrônicos</div>
        </div>
    </div>

    <div id="secaotitulo">
        <h2>Leilões acontecendo agora</h2><br>
        <hr>
    </div>

    <div id="acontecendo-agora">
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-esquerda.png') }}"></div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletronicos-img/n1.webp') }}"><br>
            Notebook Acer Nitro V15 ANV15-51-58AZ 13ª Geração - Amazon Brasil
            <br><p id="local">São Paulo - SP</p><br>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>


        <div id="item">
            <img src="{{ url_for('static', filename='img/eletronicos-img/aa2.webp') }}"><br>
            Monitor Dell P1917s Com Tela De 19 polegadas 60hz - Note Space
            <br><p id="local">Curitiba - PR</p><br>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletronicos-img/aa3.avif') }}"><br>
            Tablet Samsung Galaxy Tab A9+ SM-X216 11" Android 13 Octa-Core WiFi + 5G 64GB 8MP Grafite - Casas Bahia
            <br><p id="local">Rio de Janeiro - RJ</p><br>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletronicos-img/aa4.jpg') }}"><br>
            Kit Componentes Eletrônicos 111 peças - Usina Info
            <br><p id="local">Santo Ângelo - RS</p><br>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletronicos-img/aa5.webp') }}"><br>
            Videogame Sony Playstation Classic Mini Usado - Mundo Joy
            <br><p id="local">São Paulo - SP</p><br>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-direita.png') }}"></div>
    </div>

    <div id="secaotitulo">
        <h2>Computadores</h2><br>
        <hr>
    </div>

    <div id="computadores">
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-esquerda.png') }}"></div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletronicos-img/comp1.webp') }}"><br>
            Computador Completo Dell Optiplex 3050, I5, 7° Geração, 8GB, SSD 480GB (Seminovo) - Amorim Tech
            <br><p id="local">Limeira - SP</p>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletronicos-img/comp2.jpg' )}}"><br>
            Notebook ASUS Vivobook GO 15, Intel Celeron Dual Core N4500, 4 GB, 128 GB Star Black - Amazon Brasil
            <br><p id="local">Cuiabá - MT</p>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletronicos-img/comp3.webp')}}">
            Notebook Dell Vostro 3550 - Core i3,  2ª geração, 120GB SSD, 8GB DDR3, 14" - MeuPC Informática
            <br><p id="local">São José dos Campos - SP</p>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletronicos-img/comp4.webp') }}"><br>
            Notebook Acer Aspire E1-510 - Celeron, 4GER, 120GB SSD, 8GB DDR4, 15,6 - MeuPC Informática
            <br><p id="local">São José dos Campos - SP</p><br>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletronicos-img/comp5.webp') }}"><br>
            Computador Completo Dell OptiPlex, Intel i3, 128GB, 8GB (Seminovo) - Soares Informática
            <br><p id="local">São Luís - MA</p><br>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-direita.png') }}"></div>
    </div>

    
</body>
</html>