<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/erros.css')}}">
    <script src="https://kit.fontawesome.com/301e8f1b49.js" crossorigin="anonymous"></script>
    <title>Erro 500 | Ad-Lances</title>
</head>
<body>
    <div class="div-erro">
        <section id="titulo">
            <i class="fa-solid fa-circle-exclamation" style="color: #034660;"></i>Erro interno do servidor
        </section>

        <section id="detalhes-erro">
            Infelizmente ocorreu um erro interno no servidor. Pedimos desculpas pelo inconveniente e já estamos trabalhando para resolver.<br>
            Se o erro persistir, entre em contato conosco pelo e-mail abaixo.
        </section>

        <section id="links-paginas">
            <a href="#">suporte-adlances@gmail.com</a>
        </section>
        
    </div>
</body>
</html>