#nav-categorias {
    background-color: #FFFFFF;
    width: 100%;
    color: black;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
    display: flex;
    align-items: center;
}

#nav-categorias ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0 20px;
}

#nav-categorias ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#nav-categorias ul li i {
    font-size: 20px;
}

#nav-categorias img{
    height: 50px;
    width: auto;
    object-fit: contain;
}

#header img{
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}

