{% extends "categorias/base_categorias.html" %}

{% block other_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/categorias/eletrodomesticos.css') }}">
{% endblock %}
    
{% block title %}Eletrodomésticos{% endblock %}

    {% block icon_eletrodomesticos %}
        <li>
            <a href="{{ url_for('main.imoveis', categoria='Eletrodomesticos') }}">
                <img src="{{ url_for('static', filename='img/img-nav/houseitems-icon-color.png') }}" alt="Eletrodomésticos">
            </a>
        </li>
    {% endblock %}


    {% block header_content %}
        <img src="{{ url_for('static', filename='img/banners/banner-eletrodomesticos.png') }}">
    {% endblock %}

    
    {% block categoria_content %}
    <!--Subcategorias-->
    <div id="categorias">
        <div id="item-cat">
            <img src="{{ url_for('static', filename='img/eletrodom-img/cat1.png') }}"><br>
            <div id="texto-cat">Cozinha</div>
        </div>

        <div id="item-cat">
            <img src="{{ url_for('static', filename='img/eletrodom-img/cat2.webp')}}"><br>
            <div id="texto-cat">Limpeza</div>
        </div>

        <div id="item-cat">
            <img src="{{ url_for('static', filename='img/eletrodom-img/cat3.jpg')}}"><br>
            <div id="texto-cat">Eletroportáteis</div>
        </div>
    </div>

    <!--Encerrando em breve-->
    <div id="secaotitulo">
        <h2>Leilões encerrando em breve</h2><br>
        <hr>
    </div>

    <div id="encerrando-em-breve">
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-esquerda.png') }}"></div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/eb-1.webp ')}}"><br>
            Geladeira Electrolux 590L Frost Free Inverter
            <br><p id="local">Salvador - BA</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Magazineluiza</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/eb2.webp') }}"><br>
            Fogão Atlas Mônaco Plus 4 bocas
            <br><p id="local">Rio de Janeiro - RJ</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Americanas Brasil</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual:</span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/eb3.webp') }}"><br>
            Lava Louças Midea 14 Serviços Preta
            <br><p id="local">Curitiba - PR</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Midea Store</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/eb4.webp')}}"><br>
            Máquina de Lavar Consul 9kg Branca
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Leroy Merlin</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/eb5.webp')}}"><br>
            Cafeteira Nespresso Off White (Usada)
            <br><p id="local">Porto Alegre - RS</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Fast Shop</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual:</span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-direita.png') }}"></div>
    </div>
    
    <!--Cozinha-->
    <div id="secaotitulo">
        <h2>Cozinha</h2><br>
        <hr>
    </div>

    <div id="cozinha">
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-esquerda.png') }}"></div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/eb-1.webp ')}}"><br>
            Geladeira Electrolux 590L Frost Free Inverter
            <br><p id="local">Salvador - BA</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Magazineluiza</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/eb2.webp') }}"><br>
            Fogão Atlas Mônaco Plus 4 bocas
            <br><p id="local">Rio de Janeiro - RJ</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Americanas Brasil</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual:</span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/co1.jpg') }}"><br>
            Frigobar Eos Ice Compact 90l Preto Efb100p 110V
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Amazon Brasil</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/co2.avif') }}"><br>
            Fogão Esmaltec Topázio 4 Bocas com Forno Autolimpante, Acendimento Automático e Timer Sonoro - Bivolt
            <br><p id="local">Rio de Janeiro - RJ</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Pontofrio</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/co3.avif') }}"><br>
            Freezer e Refrigerador Horizontal EOS 100 Litros EcoGelo EFH110X 110V - Frigelar Comércio e Indústria
            <br><p id="local">Porto Alegre - RS</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Frigelar Comércio e Indústria</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-direita.png') }}"></div>
    </div>

    <!--Limpeza-->
    <div id="secaotitulo">
        <h2>Limpeza</h2><br>
        <hr>
    </div>

    <div id="limpeza">
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-esquerda.png') }}"></div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/eb3.webp') }}"><br>
            Lava Louças Midea 14 Serviços Preta
            <br><p id="local">Curitiba - PR</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Midea Store</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/eb4.webp')}}"><br>
            Máquina de Lavar Consul 9kg Branca
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Leroy Merlin</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/li1.webp')}}"><br>
            Secadora De Roupas Electrolux 12kg Premium Care 220V SFP12
            <br><p id="local">Manaus - AM</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Bemol Eletrodomésticos</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/li2.avif') }}"><br>
            Lava e Seca Digital Inverter Samsung Ecobubble™ WD10M Branca 10.1kg - 110V
            <br><p id="local">Recife - PE</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Fast Shop</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/li3.webp') }}"><br>
            Máquina de Lavar Panasonic Função Antibactéria AG 16kg Branco - NA-F160B6W
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Panasonic Brasil</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>
        
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-direita.png') }}"></div>
    </div>

    <!--Eletroportáteis-->
    <div id="secaotitulo">
        <h2>Eletroportáteis</h2><br>
        <hr>
    </div>

    <div id="eletroportateis">
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-esquerda.png') }}"></div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/eb5.webp')}}"><br>
            Cafeteira Nespresso Off White (Usada)
            <br><p id="local">Porto Alegre - RS</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Fast Shop</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual:</span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/elp1.jpg')}}"><br>
            Aspirador de Água e Pó Philco 1500W 20L PAS80 127V
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Amazon Brasil</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual:</span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/elp2.webp')}}"><br>
            Micro-ondas Electrolux 27L - MB37R (Usado)
            <br><p id="local">Jundiaí - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Ilha das Cozinhas</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual:</span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/elp3.webp')}}"><br>
            Aspirador de Pó e Água WAP GTW10 1400W - Amarelo e Preto
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Ferragens Portugal</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual:</span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/elp4.jpg')}}"><br>
            Fritadeira Philco Air Fryer Oven 12L PFR2200P - 127V
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Amazon Brasil</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual:</span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-direita.png') }}"></div>       
    </div>

   {% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
{% endblock %}