{% extends "categorias/base_categorias.html" %}

{% block other_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/categorias/moveis.css') }}">
{% endblock %}

{% block title %}Móveis{% endblock %}

{% block icon_moveis %}
        <li>
            <a href="{{ url_for('main.imoveis', categoria='Moveis') }}">
                <img src="{{ url_for('static', filename='img/img-nav/office-icon-color.png') }}" alt="Móveis">
            </a>
        </li>
{% endblock %}

{% block header %}
    <img src="{{ url_for('static', filename='img/banners/banner-moveis.png')}}">
{% endblock %}

{% block categoria_content %}
    <!--Categorias-->
    <div id="categorias">
        <div id="item-cat">
            <img src="{{ url_for('static', filename='img/moveis-img/cat1.webp')}}"><br>
            <div id="texto-cat">Sala de Estar</div>
        </div>

        <div id="item-cat">
            <img src="{{ url_for('static', filename='img/moveis-img/cat2.jpeg') }}"><br>
            <div id="texto-cat">Cozinha</div>
        </div>

        <div id="item-cat">
            <img src="{{ url_for('static', filename='img/moveis-img/cat3.jpeg') }}"><br>
            <div id="texto-cat">Quarto</div>
        </div>

        <div id="item-cat">
            <img src="{{ url_for('static', filename='img/moveis-img/cat4.jpg') }}"><br>
            <div id="texto-cat">Banheiro</div>
        </div>

        <div id="item-cat">
            <img src="{{ url_for('static', filename='img/moveis-img/cat5.jpg') }}"><br>
            <div id="texto-cat">Escritório</div>
        </div>
    </div>

    <!--Encerrando em breve-->
    <div id="secaotitulo">
        <h2>Leilões encerrando em breve</h2><br>
        <hr>
    </div>

    <div id="encerrando-em-breve">
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-esquerda.png') }}"></div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/eb1.webp') }}"><br>
            Cômoda Coliseu J&A Off-White
            <br><p id="local">São João de Meriti - RJ</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Móveis Jequitiba</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/eb2.jpg') }}"><br>
            Mesa de Jantar Noah Madeira (Usado)
            <br><p id="local">Guarulhos - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Tok&Stok</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/eb3.webp') }}"><br>
            Cama Solteiro Lion Marrom
            <br><p id="local">Rio de Janeiro - RJ</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Toque Final Móveis</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/eb4.webp') }}"><br>
            Armário de Cozinha 8 Portas 2 Gavetas Freijó/Soft
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">MadeiraMadeira</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/eb5.webp') }}"><br>
            Armário de Cozinha 6 Portas e 1 Gaveta Cinza Escuro
            <br><p id="local">Toledo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Multiloja</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-direita.png') }}"></div>
    </div>

    <!--Sala de Estar-->
    <div id="secaotitulo">
        <h2>Sala de Estar</h2><br>
        <hr>
    </div>

    <div id="sala-de-estar">
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-esquerda.png') }}"></div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/se1.webp') }}"><br>
            Mesa de Centro Antiga Design Anos 60 Pinho de Riga e Formica
            <br><p id="local">Nova Iguaçu - RJ</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Usuário</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/se2.webp') }}"><br>
            Rack para TV até 50 Polegadas 2 Portas 2 Prateleiras Pés em Madeira Maciça Rubi Cinamomo/Branco
            <br><p id="local">Nova Iguaçu - RJ</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">MadeiraMadeira</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/se3.jpg') }}"><br>
            Sofá 3 Lugares Beny Base de Madeira Linho Cotton Cru
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Mobly</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/se4.jpg') }}"><br>
            Mesa de Centro Ameba Anos 50 (Usado)
            <br><p id="local">Rio de Janeiro - RJ</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Usuário</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/se5.webp') }}"><br>
            Mesa Lateral Madeira Maciça Vanilla (Amêndoa/Branco)
            <br><p id="local">Curitiba - PR</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">YesCasa</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-direita.png') }}"></div>
    </div>

    <!--Cozinha-->
    <div id="secaotitulo">
        <h2>Cozinha</h2><br>
        <hr>
    </div>

    <div id="cozinha">
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-esquerda.png') }}"></div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/eb4.webp') }}"><br>
            Armário de Cozinha 8 Portas 2 Gavetas Freijó/Soft
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">MadeiraMadeira</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/eb5.webp') }}"><br>
            Armário de Cozinha 6 Portas e 1 Gaveta Cinza Escuro
            <br><p id="local">Toledo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Multiloja</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/co1.webp') }}"><br>
            Armário de Cozinha 12 portas e 1 gaveta Branco
            <br><p id="local">Curitiba - PR</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">YesCasa</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/co2.webp') }}"><br>
            Cozinha Completa 3 peças com Torre Quente Branca
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">MadeiraMadeira</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/co3.webp') }}"><br>
            Nicho para Microondas Arizona CabeCasa MadeiraOriginals Branco
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">MadeiraMadeira</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-direita.png') }}"></div>
    </div>

    <!--Quarto-->
    <div id="secaotitulo">
        <h2>Quarto</h2><br>
        <hr>
    </div>

    <div id="quarto">
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-esquerda.png') }}"></div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/eb3.webp') }}"><br>
            Cama Solteiro Lion Marrom
            <br><p id="local">Rio de Janeiro - RJ</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Toque Final Móveis</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/eb1.webp') }}"><br>
            Cômoda Coliseu J&A Off-White
            <br><p id="local">São João de Meriti - RJ</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Móveis Jequitiba</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/qu2.jpg') }}"><br>
            Conjunto 2 Mesas de Cabeceira Império 3 Gavetas Benetil Cinamomo
            <br><p id="local">Rio de Janeiro - RJ</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Vyle Móveis</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/qu3.jpg') }}"><br>
            Cama Box Mônaco Casal TCIL Cinamono
            <br><p id="local">Rio de Janeiro - RJ</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Vyle Móveis</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/qu4.jpg') }}"><br>
            Cama Box com Colchão Queen Classic com Espuma D40 Cinza
            <br><p id="local">Rio de Janeiro - RJ</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Mobly</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-direita.png') }}"></div>
    </div>

    <!--Banheiro-->
    <div id="secaotitulo">
        <h2>Banheiro</h2><br>
        <hr>
    </div>

    <div id="banheiro">
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-esquerda.png') }}"></div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/ba1.jpg') }}"><br>
            Armário de Banheiro com Espelho Helena 2 Portas Mel e Arenas
            <br><p id="local">Porto Alegre - RS</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Modern Móveis</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/ba2.jpg') }}"><br>
           Gabinete de Banheiro com Cuba Cecília II 3 Portas Grafite e Mel
            <br><p id="local">Porto Alegre - RS</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Modern Móveis</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/ba5.jpg') }}"><br>
            Gabinete de Banheiro de Coluna Slim 1 Porta Branco
            <br><p id="local">Porto Alegre - RS</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Modern Móveis</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/ba3.webp') }}"><br>
            Lavatório em Porcelanato para Banheiro Slim 60cm com Cuba Esculpida Travertino
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">MadeiraMadeira</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/ba6.webp') }}"><br>
            Espelheira para Banheiro 2 Portas 2 Prateleiras Malbec Branco
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">MadeiraMadeira</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-direita.png') }}"></div>
    </div>

    <!--Escritório-->
    <div id="secaotitulo">
        <h2>Escritório</h2><br>
        <hr>
    </div>

    <div id="escritorio">
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-esquerda.png') }}"></div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/es1.webp') }}"><br>
            Mesa de Escritório em L 2 Gavetas 3 Nichos Office Branco
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">MadeiraMadeira</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/es2.jpg') }}"><br>
            Mesa 120x70cm Munique Metal e MDP Kappesberg
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Leroy Merlin</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/es3.webp') }}"><br>
            Mesa Gamer Escrivaninha 3 Gavetas DRX5000 Preto 
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">MadeiraMadeira</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/es4.jpg') }}"><br>
            Cadeira de Escritório Presidente Giratória com Relax Office Plus Preta
            <br><p id="local">Rio de Janeiro - RJ</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Mobly</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/es5.jpg') }}"><br>
            Armário de Escritório Corp 4 PT Branco e Cinza Cristal
            <br><p id="local">Belo Horizonte - MG</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Bramov Móveis</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-direita.png') }}"></div>      
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='script/script.js')}}"></script>
{% endblock %}