<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/categorias/veiculos.css') }}">
    <title>Veículos</title>
</head>
<body>
<nav id="nav">
        <ul>
            <li>
                <div id="nav-item">
                <a href="/"><img id="logo" src="{{ url_for('static', filename='img/logo.png') }}"></a>
                </div>
            </li>

            <li>
                <div id="search-container">
                    <form>
                        <input type="text" placeholder="Digite aqui...">
                        <button type="submit"><img src="{{ url_for('static', filename='img/search-icon.png') }}" id="searchimg"></button>
                    </form>
                </div>
            </li>

            <li>
                <div id="nav-item">
                    <a href="verificarstripe" target="blank">Criar leilão</a>
                </div>
            </li>

            <li>
                <div id="nav-item">
                    Fale conosco
                </div>
            </li>

            {% if session.get('logado') %}
            <li>
                <div id="nav-item">
                    <div id="img-nav">
                        <a href="perfil"><img src="{{ url_for('static', filename='img/icons-img/profile-icon.png') }}"></a>
                    </div>
                </div>
            </li>

            {% else %}
                <div id="nav-item">
                    <div id="img-nav">
                        <a href="login"><img src="{{ url_for('static', filename='img/icons-img/profile-icon.png') }}"></a>
                    </div>
                </div>
            {% endif %}
            </div>
        </li>
        </ul>
    </nav>

    <div id="nav-categorias">
        <ul>
            <li>Categorias</li>
            <a href="imoveis"><li><img src="{{ url_for('static', filename='img/img-nav/house-icon.png') }}"></li></a>
            <a href="veiculos"><li><img src="{{ url_for('static', filename='img/img-nav/car-icon-color.png') }}"></li></a>
            <a href="eletronicos"><li><img src="{{ url_for('static', filename='img/img-nav/screen-icon.png') }}"></li></a>
            <a href="eletrodomesticos"><li><img src="{{ url_for('static', filename='img/img-nav/houseitems-icon.png') }}"></li></a>
            <a href="moveis"><li><img src="{{ url_for('static', filename='img/img-nav/office-icon.png') }}"></li></a>
            <a href="industriais"><li><img src="{{ url_for('static', filename='img/img-nav/machine-icon.png') }}"></li></a>
            <li><img src="{{ url_for('static', filename='img/img-nav/decoration-icon.png') }}"></li>
        </ul>
    </div>

    <br><br>

    <div id="header">
        <img src="{{ url_for('static', filename='img/banners/banner-veiculos.png')}}">
    </div>

    <!--Categorias-->
    <div id="categorias">
        <div id="item-cat">
            <img src="{{ url_for('static', filename='img/veiculos-img/cat1.jpg') }}"><br>
            <div id="texto-cat">Carros</div>
        </div>

        <div id="item-cat">
            <img src="{{ url_for('static', filename='img/veiculos-img/cat2.webp') }}" alt="motos"><br>
            <div id="texto-cat">Motocicletas</div>
        </div>

        <div id="item-cat">
            <img src="{{ url_for('static', filename='img/veiculos-img/cat3.jpg') }}" alt="caminhões"><br>
            <div id="texto-cat">Caminhões</div>
        </div>
    </div>

    <!--Acontecendo agora-->
    <div id="secaotitulo">
        <h2>Leilões encerrando em breve</h2><br>
        <hr>
    </div>

    <div id="encerrando-em-breve">
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-esquerda.png') }}"></div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/aa1.webp') }}"><br>
            Motocicleta BMW R1250
            <br><p id="local">Curitiba - PR</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Detran</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>


        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/aa2.webp') }}"><br>
            Carro Renault Sandero EXP 16
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Tribunal de Justiça de São Paulo</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/aa3.jpeg') }}"><br>
            Mercedes-Benz/Atego 1418 (2006)
            <br><p id="local">Carnaíba - MG</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Detran MG</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/aa4.webp') }}"><br>
            Fiat Toro Freedom 1.8 AT6
            <br><p id="local">Porto Alegre - RS</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Fiat Automóveis</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/aa5.png') }}"><br>
            Kawasaki Z1000 (2025)
            <br><p id="local">Rio de Janeiro - RJ</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Usuário</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-direita.png') }}"></div>
    </div>

    <!--Carros-->
    <div id="secaotitulo">
        <h2>Carros</h2><br>
        <hr>
    </div>

    <div id="carros">
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-esquerda.png') }}"></div>
        
        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/c1.webp') }}"><br>
            Volkswagen Gol 1.6 (2022) (Seminovo)
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Guaíra Veículos</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/c2.jpg') }}"><br>
            Volkswagen T-Cross Comfortline 200 Flex Automático (2023) (Seminovo)
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Localiza Seminovos</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/c3.jpeg') }}"><br>
            Fiat Mobi Like 2020 1.0 Manual
            <br><p id="local">Rio de Janeiro - RJ</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Guaíra Veículos</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/c4.jpeg') }}"><br>
            Hyundai HB20 1.6 Comfort Plus Automático (2018) (Seminovo)
            <br><p id="local">Recife - PE</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Grupo R1 Autos</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/c5.jpg') }}"><br>
            Renault Captur Intense 2.0 Automático (2020) (Seminovo)
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Usuário</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-direita.png') }}"></div>
    </div>

    <!--Motos-->
    <div id="secaotitulo">
        <h2>Motocicletas</h2><br>
        <hr>
    </div>

    <div id="motos">
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-esquerda.png') }}"></div>
        
        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/m1.webp') }}"><br>
            Yamaha XTZ 250 Ténere Blueflex (2017) (Seminovo)
            <br><p id="local">Osasco - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Chaves Multimarcas</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/m2.webp') }}"><br>
            Suzuki GSX - 8S (2024)
            <br><p id="local">São Bernardo do Campo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Mais Brasil Motos</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/m3.webp') }}"><br>
            Dafra CityCom HD 300i Automático (2023) (Seminovo)
            <br><p id="local">Santo André - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Mais Brasil Motos</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/m4.jpg') }}"><br>
            Honda CB 300F Twister CBS Manual (2025)
            <br><p id="local">Carapicuíba - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Japauto Carapicuíba</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/m5.webp') }}"><br>
            Dafra Cruisym 150 Automático (2025)
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">A17 Motos Mooca</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-direita.png') }}"></div>
    </div>

    <!--Caminhões-->
    <div id="secaotitulo">
        <h2>Caminhões</h2><br>
        <hr>
    </div>

    <div id="caminhoes">
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-esquerda.png') }}"></div>
        
        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/ca1.webp') }}"><br>
            Conjunto Completo Volvo FH 540 (2013) + Carreta SR Recrusul (2010)
            <br><p id="local">Francisco Beltrão - PR</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Usuário</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/ca2.webp') }}"><br>
            Cavalo Mecânico VW 28.480 6x2 Cabine Estendida + Carreta Facchini SRF CA (2025)
            <br><p id="local">Guarapuava - PR</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Usuário</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/ca3.webp') }}"><br>
            Volkswagen Meteor Automático (2020)
            <br><p id="local">Bayeux - PB</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Usuário</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/ca4.jpg') }}"><br>
            Volkswagen Delivery Express 2P Manual (2022) (Seminovo)
            <br><p id="local">Ribeirão Preto - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Localiza Seminovos</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/ca5.jpg') }}"><br>
            Hyundai HR 2.5 CRDI Longo Manual (2022) (Seminovo)
            <br><p id="local">Campinas - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Localiza Seminovos</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-direita.png') }}"></div>
    </div>

    <footer id="footer">
    <div id="footer-container">
        <div id="footer-section">
            <h4>Sobre nós</h4>
            <ul>
                <li><a href="#">A empresa</a></li>
                <li><a href="#">Política de privacidade</a></li>
                <li><a href="#">Como funciona</a></li>
                <li><a href="#">Como vender</a></li>
            </ul>
        </div>

        <div id="footer-section">
            <h4>Contato</h4>
            <p><strong>E-mail:</strong> adlances@gmail.com</p>
            <p><strong>Telefone:</strong> (11) 5567-3452</p>
            <p><a href="#">Perguntas frequentes</a></p>
        </div>

        <div id="footer-section">
    <h4>Redes sociais</h4>
    <div id="social-icons">
        <a href="#" aria-label="Instagram">
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="24" height="24">
                <path d="M7.5 2h9A5.5 5.5 0 0 1 22 7.5v9a5.5 5.5 0 0 1-5.5 5.5h-9A5.5 5.5 0 0 1 2 16.5v-9A5.5 5.5 0 0 1 7.5 2zm0 2A3.5 3.5 0 0 0 4 7.5v9A3.5 3.5 0 0 0 7.5 20h9a3.5 3.5 0 0 0 3.5-3.5v-9A3.5 3.5 0 0 0 16.5 4h-9zm4.5 3a5.5 5.5 0 1 1 0 11a5.5 5.5 0 0 1 0-11zm0 2a3.5 3.5 0 1 0 0 7a3.5 3.5 0 0 0 0-7zm5.25-.75a.75.75 0 1 1 0 1.5a.75.75 0 0 1 0-1.5z"/>
            </svg>
        </a>
        <a href="#" aria-label="Facebook">
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="24" height="24">
                <path d="M13.5 22V12.75h3l.5-4h-3.5V6.5c0-1.1.3-1.9 2-1.9h1.6V1.2c-.3 0-1.4-.2-2.7-.2c-2.7 0-4.6 1.6-4.6 4.7V8.7H7v4h3.8V22h2.7z"/>
            </svg>
        </a>
        <a href="#" aria-label="LinkedIn">
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="24" height="24">
                <path d="M4.98 3.5A2.5 2.5 0 1 1 5 8.5a2.5 2.5 0 0 1-.02-5zM3 9h4v12H3zm7 0h3.7v1.6h.1c.5-.9 1.7-1.8 3.4-1.8c3.6 0 4.3 2.4 4.3 5.6V21h-4v-5.2c0-1.2 0-2.7-1.7-2.7c-1.8 0-2 1.3-2 2.6V21h-4z"/>
            </svg>
        </a>
    </div>
</div>

        <div id="footer-section">
            <h4>Localização</h4>
            <p>Av. Paulista, 1167 - Bela Vista</p>
        </div>
    </div>
    <div id="footer-bottom">
        <p>© AdLances. Todos os direitos reservados.</p>
    </div>
</footer>


</body>

<script src="{{ url_for('static', filename='script/script.js') }}"></script>
</html>