{% extends "base.html" %}

    {% block other_style %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/criarleilao.css')}}">
    {% endblock %}

    {% block title %}Criar Leilão{% endblock %}

{% block content %}

    {% if session.get('logado') %}
    <section id="cabecalho">
        <h2>Adicionar novo leilão</h2>
    </section>

    <div id="mensagem"></div>

    <div id="formularioProduto">
        <form id="form-produto" method="POST">
            <div id="titulo1">
                <h3>Informações do Produto</h3>
                <hr>
            </div>
            
            <div id="img-input-produto" class="compact-section">
                <label for="img-produto-input" class="custom-file-upload">
                    <div class="file-upload-area">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                        <div class="file-upload-text">Clique para adicionar imagens do produto</div>
                        <div class="file-upload-subtext">Arraste ou clique para fazer upload</div>
                    </div>
                </label>
                <input type="file" multiple accept="image/*" name="img_produto_input" id="img-produto-input">
            </div>

            <div class="compact-grid compact-section">
                <section id="nome-produto">
                    <label for="nome-produto-input">Nome do produto:</label>
                    <input type="text" name="nome-produto-input" id="nome-produto-input" placeholder="Digite o nome do produto">
                </section>

                <section id="lance-inicial">
                    <label for="lance-inicial-input">Lance inicial:</label>
                    <input type="number" id="lance-inicial-input" name="lance-inicial-input" step="0.01" min="0.01" placeholder="R$ 0,00">
                </section>

                <section id="incremento">
                    <label for="incremento-input">Incremento mínimo:</label>
                    <input type="number" id="incremento-input" name="incremento-input" step="0.01" min="0.01" placeholder="R$ 0,00">
                </section>

                <section class="explicacao">
                    <h3><i class="fa-solid fa-circle-question fa-lg" style="color: #335e7d;"></i>  O que é o incremento mínimo?</h3>
                    <p>
                        O incremento mínimo é o valor mínimo de aumento que os usuários devem acrescentar em relação ao lance inicial quando forem realizar lances.
                    </p>
                </section>
            </div>

            <section id="descricao-produto" class="compact-section">
                <label for="descricao-produto-input">Descrição do produto:</label>
                <textarea name="descricao-produto-input" id="descricao-produto-input" placeholder="Descreva seu produto aqui..."></textarea>
            </section>

            
            <div class="categorias-container compact-section">
                <section id="categoria-produto">
                    <label for="categoria-produto-select">Categoria:</label>
                    <select id="categoria-produto-select" onchange="exibirCampoSubcategorias()">
                        <option value="none">Selecione</option>
                        <option value="1">1 - Imóveis</option>
                        <option value="2">2 - Veículos</option>
                        <option value="3">3 - Eletrônicos</option>
                        <option value="4">4 - Eletrodomésticos</option>
                        <option value="5">5 - Móveis</option>
                        <option value="6">6 - Industriais</option>
                    </select>
                </section>

                <section id="subcategoria-produto" style="display: none;">
                    <label for="subcategoria-produto">Subcategoria:</label>
                    <select id="subcategoria-produto-select">
                        <option>Selecione</option>
                    </select>
                </section>
            </div>

            <div class="datas-container compact-section">
                <section id="data-inicio">
                    <label for="data-inicio-input">Data de início:</label>
                    <input type="datetime-local" id="data-inicio-input" name="data-inicio-input">
                </section>

                <section id="data-fim">
                    <label for="data-fim-input">Data de término:</label>
                    <input type="datetime-local" id="data-fim-input" name="data-fim-input">
                </section>
            </div>

            <div id="titulo2">
                <h3>Informações de Pagamento</h3>
                <hr>
            </div>

            <section id="pagamento" class="compact-section">
                <section id="forma-pagamento">
                    <label>Formas de Pagamento:</label>
                    <ul id="checkboxes-pagamento">
                        <li><input type="checkbox" name="Cartão de crédito" id="checkbox-cartao"> Cartão de Crédito</li>
                        <li><input type="checkbox" name="PIX" id="checkbox-pix"> PIX</li>
                        <li><input type="checkbox" name="FGTS" id="checkbox-fgts"> FGTS</li>
                        <li><input type="checkbox" name="Financiamento" id="checkbox-financiamento"> Financiamento</li>
                    </ul>
                </section>

                <section id="parcelas-permitidas">
                    <label for="parcelas-permitidas-input">Parcelas:</label>
                    <select id="parcelas-permitidas-input">
                        <option value="none">Selecione um número</option>
                        <option value="1x">1x</option>
                        <option value="12x">2x</option>
                        <option value="3x">3x</option>
                        <option value="4x">4x</option>
                        <option value="5x">5x</option>
                        <option value="6x">6x</option>
                        <option value="7x">7x</option>
                        <option value="8x">8x</option>
                        <option value="9x">9x</option>
                        <option value="10x">10x</option>
                        <option value="11x">11x</option>
                        <option value="12x">12x</option>
                    </select>
                </section>
            </section>

            <section id="aviso" class="compact-section">
                <ul>
                    <li>Não é permitido alterar a forma de pagamento após a criação do leilão</li>
                </ul>
            </section>

            <div id="titulo3">
                <h3>Informações de Entrega</h3>
                <hr>
            </div>
            
            <section id="infos-entrega" class="compact-section">
                <div class="infos-entrega-grid">
                    <div id="estado-leilao">
                        <label for="estado-leilao-select">Estado:</label>
                        <input type="text" name="estado-leilao-input" id="estado-leilao-input" placeholder="Digite a unidade federativa">
                    </div>

                    <div id="cidade-leilao">
                        <label for="cidade-leilao-input">Cidade:</label>
                        <input type="text" name="cidade-leilao-input" id="cidade-leilao-input" placeholder="Digite sua cidade">
                    </div>

                    <div id="cep-leilao">
                        <label for="cep-leilao-input">CEP:</label>
                        <input type="text" name="cep-leilao-input" id="cep-leilao-input" placeholder="00000-000">
                    </div>

                    <div id="rua-leilao">
                        <label for="rua-leilao-input">Logradouro:</label>
                        <input type="text" name="rua-leilao-input" id="rua-leilao-input" placeholder="Digite o nome da rua">
                    </div>

                    <div id="bairro-leilao">
                        <label for="bairro-leilao-input">Bairro:</label>
                        <input type="text" name="bairro-leilao-input" id="bairro-leilao-input" placeholder="Digite o bairro">
                    </div>

                    <div id="numero-leilao">
                        <label for="numero-leilao-input">Número:</label>
                        <input type="text" name="numero-leilao-input" id="numero-leilao-input" placeholder="Digite o número">
                    </div>

                    <div id="complemento-leilao" class="infos-entrega-full">
                        <label for="complemento-leilao-input">Complemento:</label>
                        <input type="text" name="complemento-leilao-input" id="complemento-leilao-input" placeholder="Ex: Casa, Apartamento">
                    </div>
                </div>
            </section>

            <section id="termos-condicoes" class="compact-section">
                <ul>
                    <li>
                        <input type="checkbox" id="termo-veracidade"> Declaro que todas as informações são verídicas
                    </li>

                    <li>
                        <input type="checkbox" id="termo-condicoes"> Aceito os Termos e Condições
                    </li>
                </ul>
            </section>

            <button type="submit" id="criar-leilao-botao">Criar Leilão</button>
        </form>
    </div>

    {% else %}

    <div id="mensagem-login">
        <h3>Você está quase lá!</h3>
        <hr>

        <section id="descricao-mensagem-login">
            Faça login para leiloar seus produtos por preços incríveis!
        </section>

        <section id="link-login">
            <a href="login"><button id="redirect-login">Faça login</button></a>
        </section>
    </div>

    {% endif %}

{% endblock %}

    
{% block scripts %}
    <script src="{{ url_for('static', filename='script/style.js') }}"></script>
    <script src="{{ url_for('static', filename='script/validacao_leilao.js') }}"></script>
    <script src="{{ url_for('static', filename='script/criarleilao.js') }}"></script>
{% endblock %}