{% extends "base.html" %}

{% block other_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/esqueci_senha.css') }}">
{% endblock %}

{% block title %}Redefinir a senha{% endblock %}

{% block content %}
    <div id="titulo">
        <h2>Redefinir a senha</h2>
    </div>

    <section id="mensagem"></section>

    <div id="formulario-div">
        <form id="formulario-redefinir" action="/esqueciasenha" method="POST">

            <label for="email" id="nova_senha_label">Digite seu email:</label>
            <div class="password-container">
                <input type="email" name="email" id="email_input" placeholder="exemplo@email.com">
            </div>
            <button type="submit" id="botao-redefinir">Redefinir senha</button>
        </form>
    </div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='script/style.js')}}"></script>

{% endblock %}