<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://kit.fontawesome.com/301e8f1b49.js" crossorigin="anonymous"></script>
    <title>Ad-Lances</title>
</head>
<body>
    <nav id="nav">
        <ul>
            <li>
                <div id="nav-item">
                <a href="/"><img id="logo" src="{{ url_for('static', filename='img/logo.png') }}"></a>
                </div>
            </li>

            <li>
                <div id="search-container">
                    <form>
                        <input type="text" placeholder="Digite aqui...">
                        <button type="button"><img src="{{ url_for('static', filename='img/search-icon.png') }}" id="searchimg"></button>
                    </form>
                </div>
            </li>

            <li>
                <div id="nav-item">
                    <a href="novoleilao">Criar leilão</a>
                </div>
            </li>

            <li>
                <div id="nav-item">
                    Fale conosco
                </div>
            </li>


            {% if session.get('logado') %}
                <li>
                    <div id="nav-item">
                        <div id="img-nav">
                            <a href="perfil"><i class="fa-solid fa-circle-user fa-2xl" style="color: #ffffff;"></i></a>
                        </div>
                    </div>
                </li>

                {% else %}
                    <div id="nav-item">
                        <a href="login">Login</a>
                    </div>
                {% endif %}
                </div>
            </li>
        </ul>
    </nav>

    <div id="nav-categorias">
        <ul>
            <li>Categorias</li>
            <a href="imoveis"><li><img src="{{ url_for('static', filename='img/img-nav/house-icon.png') }}"></li></a>
            <a href="veiculos"><li><img src="{{ url_for('static', filename='img/img-nav/car-icon.png') }}"></li></a>
            <a href="eletronicos"><li><img src="{{ url_for('static', filename='img/img-nav/screen-icon.png') }}"></li></a>
            <a href="eletrodomesticos"><li><img src="{{ url_for('static', filename='img/img-nav/houseitems-icon.png') }}"></li></a>
            <a href="moveis"><li><img src="{{ url_for('static', filename='img/img-nav/office-icon.png') }}"></li></a>
            <a href="industriais"><li><img src="{{ url_for('static', filename='img/img-nav/machine-icon.png') }}"></li></a>
            <li><img src="{{ url_for('static', filename='img/img-nav/decoration-icon.png') }}"></li>
        </ul>
    </div>

    <br><br>

    <div id="carrossel-principal">
        <div class="carrossel-track-principal">
            <div class="carrossel-inner-principal">
                <div class="slide-item">
                    <img src="{{ url_for('static', filename='img/banners/banner-imoveis.png')}}" alt="Banner 1">
                </div>
                <div class="slide-item">
                    <img src="{{ url_for('static', filename='img/banners/banner-eletrodomesticos.png')}}" alt="Banner 2">
                </div>
                <div class="slide-item">
                    <img src="{{ url_for('static', filename='img/banners/banner-carrossel.png')}}" alt="Banner 3">
                </div>
            </div>
        </div>
        
        <div class="slide-indicators">
            <span class="indicator active" data-slide="0"></span>
            <span class="indicator" data-slide="1"></span>
            <span class="indicator" data-slide="2"></span>
        </div>
    </div>

    <br><br>

    <br><br>

    <div id="secaotitulo">
        <h2>Leilões encerrando em breve</h2><br>
        <hr>
    </div>

    <div id="encerrando-em-breve">
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-esquerda.png') }}"></div>
        <div id="item">
            <img src="{{ url_for('static', filename='img/industriais-img/eb1.webp') }}"><br>
            Plataforma Elevatória 12m Tesoura Hidráulica Móvel Autopropulsão 320kg
            <br><p id="local">Diadema - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Agrotama</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/eb2.webp') }}"><br>
            Fogão Atlas Mônaco Plus 4 bocas
            <br><p id="local">Rio de Janeiro - RJ</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">João Silva Santos</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual:</span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/imoveis-img/aa2.png') }}"><br>
            Apartamento 60m²
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Setin Incorporadora</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/moveis-img/eb1.webp') }}"><br>
            Cômoda Coliseu J&A Off-White
            <br><p id="local">São João de Meriti - RJ</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Móveis Jequitiba</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/aa1.webp') }}"><br>
            Motocicleta BMW R1250
            <br><p id="local">Curitiba - PR</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Detran</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>
        </div>

        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-direita.png') }}"></div>
    </div>
    </div>

    <div id="banners-menores">
        <a href="veiculos"><img src="{{ url_for('static', filename='img/banners/veiculos.png') }}"></a>
        <a href="eletrodomesticos"><img src="{{ url_for('static', filename='img/banners/eletrodomesticos.png') }}"></a>
    </div>

    <div id="secaotitulo">
        <h2>Mais recentes</h2><br>
        <hr>
    </div>

    <div id="mais-recentes">
        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-esquerda.png') }}"></div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/imoveis-img/a4.png') }}"><br>
            Apartamento 45m²
            <br><p id="local">Alphaville - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Eztec Imóveis</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/veiculos-img/c1.webp') }}"><br>
            Volkswagen Gol 1.6 (2022) (Seminovo)
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Guaíra Veículos</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/eletrodom-img/eb4.webp')}}"><br>
            Máquina de Lavar Consul 9kg Branca
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Leroy Merlin</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/imoveis-img/a1.png') }}"><br>
            Apartamento 62,09m²
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Dora Plat Imóveis</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="item">
            <img src="{{ url_for('static', filename='img/imoveis-img/a5.webp') }}"><br>
            Apartamento 210m²
            <br><p id="local">São Paulo - SP</p><br>

            <div id="infos-leiloeiro">
                <img src="{{ url_for('static', filename='img/icons-img/profile.png')}}">
                <span id="leiloeiro-texto">Setin Incorporadora</span>
            </div>

            <div id="views-img">
                <img src="{{ url_for('static', filename='img/icons-img/views-icon.png') }}">
                <span id="views-count">1000 participantes</span>
            </div><br>

            <span id="lance">Lance atual: </span><br>
            <span id="temporizador">Encerra em: </span>
        </div>

        <div id="arrow-img"><img src="{{ url_for('static', filename='img/icons-img/seta-direita.png') }}"></div>
    </div>

    <div id="banners-maiores">
        <img src="{{ url_for('static', filename='img/banners/bannermaior.png') }}">
    </div>

    <div id="secaotitulo">
        <h2>Empresas que já venderam conosco</h2><br>
        <hr>
    </div>

    <div id="carrossel-empresas-automatico">
        <div class="carrossel-track">
            <div class="carrossel-inner">
                <!-- Primeira cópia -->
                <div class="empresa-item">
                    <img src="{{ url_for('static', filename='img/empresas/corpore.jpg') }}" alt="Corpore">
                </div>
                <div class="empresa-item">
                    <img src="{{ url_for('static', filename='img/empresas/eztec.png') }}" alt="Eztec">
                </div>
                <div class="empresa-item">
                    <img src="{{ url_for('static', filename='img/empresas/lar.png') }}" alt="Lar">
                </div>
                <div class="empresa-item">
                    <img src="{{ url_for('static', filename='img/empresas/gomes.png') }}" alt="Gomes">
                </div>
                <div class="empresa-item">
                    <img src="{{ url_for('static', filename='img/empresas/bradesco.webp') }}" alt="Bradesco">
                </div>
                <div class="empresa-item">
                    <img src="{{ url_for('static', filename='img/empresas/itau.png') }}" alt="Itaú">
                </div>
                <div class="empresa-item">
                    <img src="{{ url_for('static', filename='img/empresas/magalu.png') }}" alt="Magalu">
                </div>
                <div class="empresa-item">
                    <img src="{{ url_for('static', filename='img/empresas/setin.png') }}" alt="Setin">
                </div>
                <div class="empresa-item">
                    <img src="{{ url_for('static', filename='img/empresas/santander.png') }}" alt="Santander">
                </div>
                
                <div class="empresa-item">
                    <img src="{{ url_for('static', filename='img/empresas/corpore.jpg') }}" alt="Corpore">
                </div>
                <div class="empresa-item">
                    <img src="{{ url_for('static', filename='img/empresas/eztec.png') }}" alt="Eztec">
                </div>
                <div class="empresa-item">
                    <img src="{{ url_for('static', filename='img/empresas/lar.png') }}" alt="Lar">
                </div>
                <div class="empresa-item">
                    <img src="{{ url_for('static', filename='img/empresas/gomes.png') }}" alt="Gomes">
                </div>
                <div class="empresa-item">
                    <img src="{{ url_for('static', filename='img/empresas/bradesco.webp') }}" alt="Bradesco">
                </div>
                <div class="empresa-item">
                    <img src="{{ url_for('static', filename='img/empresas/itau.png') }}" alt="Itaú">
                </div>
                <div class="empresa-item">
                    <img src="{{ url_for('static', filename='img/empresas/magalu.png') }}" alt="Magalu">
                </div>
                <div class="empresa-item">
                    <img src="{{ url_for('static', filename='img/empresas/setin.png') }}" alt="Setin">
                </div>
                <div class="empresa-item">
                    <img src="{{ url_for('static', filename='img/empresas/santander.png') }}" alt="Santander">
                </div>
            </div>
        </div>
    </div>

<footer id="footer">
    <div id="footer-container">
        <div id="footer-section">
            <h4>Sobre nós</h4>
            <ul>
                <li><a href="#">A empresa</a></li>
                <li><a href="#">Política de privacidade</a></li>
                <li><a href="#">Como funciona</a></li>
                <li><a href="#">Como vender</a></li>
            </ul>
        </div>

        <div id="footer-section">
            <h4>Contato</h4>
            <p><strong>E-mail:</strong> adlances@gmail.com</p>
            <p><strong>Telefone:</strong> (11) 5567-3452</p>
            <p><a href="#">Perguntas frequentes</a></p>
        </div>

        <div id="footer-section">
    <h4>Redes sociais</h4>
    <div id="social-icons">
        <a href="#" aria-label="Instagram">
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="24" height="24">
                <path d="M7.5 2h9A5.5 5.5 0 0 1 22 7.5v9a5.5 5.5 0 0 1-5.5 5.5h-9A5.5 5.5 0 0 1 2 16.5v-9A5.5 5.5 0 0 1 7.5 2zm0 2A3.5 3.5 0 0 0 4 7.5v9A3.5 3.5 0 0 0 7.5 20h9a3.5 3.5 0 0 0 3.5-3.5v-9A3.5 3.5 0 0 0 16.5 4h-9zm4.5 3a5.5 5.5 0 1 1 0 11a5.5 5.5 0 0 1 0-11zm0 2a3.5 3.5 0 1 0 0 7a3.5 3.5 0 0 0 0-7zm5.25-.75a.75.75 0 1 1 0 1.5a.75.75 0 0 1 0-1.5z"/>
            </svg>
        </a>
        <a href="#" aria-label="Facebook">
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="24" height="24">
                <path d="M13.5 22V12.75h3l.5-4h-3.5V6.5c0-1.1.3-1.9 2-1.9h1.6V1.2c-.3 0-1.4-.2-2.7-.2c-2.7 0-4.6 1.6-4.6 4.7V8.7H7v4h3.8V22h2.7z"/>
            </svg>
        </a>
        <a href="#" aria-label="LinkedIn">
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="24" height="24">
                <path d="M4.98 3.5A2.5 2.5 0 1 1 5 8.5a2.5 2.5 0 0 1-.02-5zM3 9h4v12H3zm7 0h3.7v1.6h.1c.5-.9 1.7-1.8 3.4-1.8c3.6 0 4.3 2.4 4.3 5.6V21h-4v-5.2c0-1.2 0-2.7-1.7-2.7c-1.8 0-2 1.3-2 2.6V21h-4z"/>
            </svg>
        </a>
    </div>
</div>

        <div id="footer-section">
            <h4>Localização</h4>
            <p>Av. Paulista, 1167 - Bela Vista</p>
        </div>
    </div>
    <div id="footer-bottom">
        <p>© AdLances. Todos os direitos reservados.</p>
    </div>
</footer>
</body>
<script src="{{ url_for('static', filename='script/carrossel.js') }}"></script>
</html>